@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.app {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: colors.$GRAYE;
}
