@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.tabWrap {
  width: 80%;
  border: 3px solid colors.$BLACK;

  .listWrap {
    display: flex;

    .listItem {
      @include flexbox.flexbox(center, center);
      width: 100%;
      border-left: 3px solid colors.$BLACK;

      &:first-child {
        border-left: none;
      }
    }

    & button {
      padding: 15px 102px;
      font-size: 20px;
      color: rgb(4, 3, 3);
    }
  }

  .barWrap {
    position: relative;
    width: 100%;
    height: 10px;
    border: 3px solid colors.$BLACK;
    border-right: none;
    border-left: none;
    transition: all 0.3s;

    &::after {
      position: absolute;
      height: 100%;
      content: '';
      background-color: colors.$MAIN;
      transition: all 0.3s;
    }

    &.list0::after {
      left: 0;
      width: 33.5%;
      border-right: 3px solid colors.$BLACK;
    }

    &.list1::after {
      left: 33.2%;
      width: 33.7%;
      border-right: 3px solid colors.$BLACK;
      border-left: 3px solid colors.$BLACK;
    }

    &.list2::after {
      left: 66.6%;
      width: 33.4%;
      border-left: 3px solid colors.$BLACK;
    }
  }

  .textWrap {
    @include flexbox.flexbox(center, center);
    padding: 20px;
  }
}
